@font-face {
    font-family: dotoBold;
    src: url(Fonts/Doto_Rounded-Bold.ttf);
}

body{
    background-color: #121212;
    color: #FF10F0;
}

h1{
    
    font-family: dotoBold;
    text-shadow: 2.3px 2.3px #AA336A;
}

h6{
    font-family: dotoBold;
   // text-shadow: 5px 5px #AA336A;
}
.ulMain {
    list-style-type: none;
    padding-left: 0;
    font-size: larger;
    font-family: dotoBold
}

.ulMain li::before {
    content: "/liv/Portfolio/> ";
    font-family: dotoBold
}
.ulWorkHistory {
    list-style-type: none;
    padding-left: 0;
    font-size: larger;
    font-family: dotoBold

}

.ulWorkHistory li::before {
    content: var(--w);
    font-family: dotoBold
}

.headerDiv{
    padding: 10px;
}

.horizontalStackDiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100vw;
}

.type {
    display:inline-flex;
}

.type span {
    word-break: break-all;
    height: 1.2em;
    width:0%;
    overflow: hidden;
    animation:t 2s linear forwards;
    animation-delay: calc(var(--i) * 1s);
}
.type span:before {
    content:" ";
    display:inline-block;
}

@keyframes t{
    90%,100% {width:100%}
}
